{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}
{% block body %}
    <!-- container -->
    <div class="container">

        <ol class="breadcrumb">
            <li><a href="{{ path('main') }}">Accueil</a></li>
            <li class="active">Inscription</li>
        </ol>

        <div class="row">

            <!-- Article main content -->
            <article class="col-xs-12 maincontent">
                <header class="page-header">
                    <h1 class="page-title">Inscription</h1>
                </header>

                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h3 class="thin text-center">Enregistrer un nouveau compte</h3>
                            <p class="text-center text-muted">Si vous avez déjà un compte, veuillez-vous <a href="/" class="up">Identifier</a>, afin de pouvoir vous connecter. </p>
                            <hr>
                            <form name="user" method="post" class="user" enctype="multipart/form-data">
                                
                                <div class="top-margin">
                                    <label>Pseudo</label>
                                    <input type="text" id="registration_form_uname" name="registration_form[uname]" required="required" class="form-control">
                                </div>

                                <div class="top-margin">
                                    <label>Adresse email<span class="text-danger">*</span></label>
                                    <input type="text" id="registration_form_email" name="registration_form[email]" required="required" class="form-control">
                                </div>
                                <div class="top-margin">
                                    <label>Mot de passe<span class="text-danger">*</span></label>
                                    <input type="password" id="registration_form_plainPassword" name="registration_form[plainPassword]" required="required"  class="form-control">
                                </div>
                                <div class="top-margin">
                                    {{ form_row(registrationForm.description) }}</div>
                                <hr>
                                {{ form_row(registrationForm.image) }}
                                <div class="row">
                                    <div class="col-lg-8">
                                        <label class="checkbox">
                                            {{ form_row(registrationForm.agreeTerms) }}

                                        </label>
                                    </div>
                                    <div class="col-lg-4 text-right">
                                        {{ form_row(registrationForm._token) }}
                                        <button class="btn btn-action" type="submit">Envoyer</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>

            </article>
            <!-- /Article -->

        </div>
    </div>	<!-- /container -->
{% endblock %}