{% extends 'base.html.twig' %}

{% block title %}Reset index{% endblock %}

{% block body %}
    <h1>Reset index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Code</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reset in resets %}
            <tr>
                <td>{{ reset.id }}</td>
                <td>{{ reset.email }}</td>
                <td>{{ reset.code }}</td>
                <td>
                    <a href="{{ path('reset_show', {'id': reset.id}) }}">show</a>
                    <a href="{{ path('reset_edit', {'id': reset.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('reset_new') }}">Create new</a>
{% endblock %}
